<div class="container text-center">
    <h1>Add Appointment</h1>
    <div class="d-flex mb-3 text-start">
        <label for="" class="form-label">Appointment Description</label>
        <input [(ngModel)]="newAppointmentTitle" class="form-control" placeholder="Appointment Description" type="text">
    </div>
    <div class="mb-3 d-flex gap-3 ">
        <div class="d-flex gap-3">
            <label for="" class="form-label">Appointment Date</label>
            <input [(ngModel)]="newAppointmentDate" class="form-control" placeholder="Appointment Date" type="date">
        </div>
        <div class="d-flex justify-content-center">
            <button (click)="addAppointment()" class="btn btn-outline-dark">Add</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-center mb-4">
        <h1>Appointment List</h1>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let appointment of appointments; index as i">
                <div class="d-flex gap-3 justify-content-evenly p-2">
                    <p class="fs-4">{{appointment.title}}</p>
                    <p>{{appointment.date | date: "dd.MM.yyyy"}} </p>
                    <button class="btn btn-outline-danger" (click)="deleteAppointment(i)">delete</button>
                </div>
            </li>
        </ul>
    </div>
</div>


